body {
    background-image: linear-gradient(to right bottom, orangered, blueviolet);
    font-family: 'Roboto', sans-serif;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {

}

h1 {
    text-transform: uppercase;
    font-size: 50px;
}

h1,
.quote,
.author {
    font-weight: 100;
    text-align: center;
}

.box {
    margin-bottom: 20px;
}

.quote {
}

.author {
    font-style: italic;
}

.trigger {

}

.tweet:link,
.tweet:visited {
    text-decoration: none;
}

.trigger,
.tweet:link,
.tweet:visited {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px;
    width: 25%;
    padding: 10px 0;
    cursor: pointer;
    transition: all .2s ease-out;

    &:hover,
    &:active {
        background-color: rgba(white, .1);
    }
}